
body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	background: url("images/Tranqil back group.gif");
  background-size:cover;
  align-items: center;
}

}
h1,h2 {
	text-transform: uppercase;
	display: inline-block;
	font-weight: 800em;
	
} 
h1{color: black;
font-size: 2em;
}
h2{color: black;
font-size: 1.5em;
padding:.8em 0;
}

p {
	font-family: palatino,georgia,serif;
  font-size: 20px;
	line-height: 1.5em;
	margin: 0em;
	float: left;
}
img {
	display: block;
	margin: 0 auto;
	width: 900px;
} 
nav {
	font-size: 1.8em;
 	float: right;
} 
nav a {	
	text-decoration: none;
	color: black;
	margin: 1.8em;
	display: inline-block;
}
a:hover {background-color: #c3f9ec;
}

section {
background: #a0b4af;
color: black;
overflow: auto;
clear: both;
}
div {
  font-size: 1.2em;
  width: 46%;
  padding: 2%;
  display:inline-block
  clear: left;
}
#book{float: right;
	width: 600px;
	clear: right
	margin: 0 0 10px 10px;
}
#logo{
  display: block;
  width: 100%;
  margin: 0;
 background-color: #c3f9ec;
  float: none;
}
#logo{ position: absolute; top: 25px; left: 5px; 
}

#about{
float: left;
clear:both;
}
#services{float: right;
	clear:both;
}

footer {
	text-align: center;
	padding: 1em 0;
	clear: both; 
}

@media only screen and (max-width: 800px){
	nav {
		float: none;}
	nav a {
      margin: 0 1.6em .75em 0;}
    img {width: 320px;}
    #about {
    	font-size: 1.4em;
    	line-height: 1.8em;
    }
}
@media only screen and (max-width: 480px){
  h1,nav{
    display: block;
    text-align: center;
  }
  nav a {
    margin: 0 1em 1em;
  }
  section,div{width: 100%;
  padding: .6em;
  }
  #services{ 
    float: none;
    font-size: 1.4em;
  }
}