body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}


h1,h2 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
	font-weight: 600em;
	
} 
h1{color: black;
font-size: 2em;
}
h2{color:#c3f9ec;
font-size: 1em;
}

p {
	font-family: palatino,georgia,serif;
  font-size: 20px;
	line-height: 1.5em;
	margin: 0em;
	float: left;
}
img {
	display: block;
	margin: 0 auto;
	width: 480px;
} 
nav {
	font-size: 1.8em;
 	float: right;
} 
nav a {	
	text-decoration: none;
	color: black;
	margin: 1.8em;
	display: inline-block;
}
section {
background: #222;
color:#fff;
overflow: auto;
}
div {
  font-size: 1.2em;
  width: 46%;
  padding: 2%;
  display: inline-block;
}
#hero{
  display: block;
  width: 100%;
  margin: 0;
  background-color: #c3f9ec;
}
#about{
float: left;
}
#services{float: right;
}

footer {
	text-align: center;
	padding: 1em 0;
  clear: both; 
}