@import url(https://fonts.googleapis.com/css?family=Raleway:400,500|Droid+Sans);
body {text-align: center;
background: url("images/Tranqil back group.svg");
  background-size:cover;
color:#000 ;
font-family: 'Raleway', sans-serif;font-size: 18px;}
hr{width: 2em;}
p{font-size: 2em;}
img {
float: left;
  display: block;
  margin: 0 auto
}
header {
    border: 1px black solid;
    padding: 20px;
}
nav {font-size: 1.8em;
float: right;
background: grey;
}
nav a {text-decoration: none;
color: #000000;
margin: 1.8em;
display: inline-block;
}
div {
  font-size: 1.2em;
  width: 46%;
  padding: 2%;
  display: inline-block;
}
#hero{
  display: block;
  width: 100%;
  margin: 0;
  background: #fffebb;
}

aside {
    border: 1px black solid;
    padding: 20px;
}
article {
    border: 1px black solid;
    padding: 20px;footer{
  text-align: center;
  padding: 1em 0;

}
footer {
    border: 1px black solid;
    padding: 20px;
}
div/section {
  ;
    border: 1px black solid;
    padding: 20px;
}
section {
background: #000;
color:#fff;
overflow: auto;
}
#two_column {
    background-color: #e6ffff;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #e6ffff;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #f2f2f2;
    border: 1px black solid;
    padding: 20px;
    width: 62%;
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}