@import url(https://fonts.googleapis.com/css?family=Raleway:400,500|Droid+Sans);
img {align: left;} 
h1,p,a{text-align: center;
background: url("images/Tranqil back group.svg");
  background-size:cover;
color:#000 ;
font-family: 'Raleway', sans-serif;}
h1,p,a{width: 2em;}
p{font-size: 2em;}